<% if @user.errors.any? %>
      <%= @user.errors.count %>prohibited this obj from being saved:
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
      </ul>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h1>User info</h1>

    <%= form_with model: @user, method: :patch,local:true do |f| %>
      <h2>Name</h2>
      <%= f.text_field :name %>
      <p>Image</p>
      <%= f.file_field :profile_image, accept: "image/*" %>
      <h2>Introduction</h2>
      <%= f.text_area :introduction %>
      <%= f.submit 'Update User' %>
    <% end %>
  </div>
</div>